@import '../general/variables.scss';
/* CONTACTO */


#contacto {
    text-align: center;
    padding: 60px 0;

    .titulo {
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h1 {
        color: $color-secundario;
        font-size: $size-title;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-decoration: underline;
        text-decoration-color: $color-primario;
        text-decoration-thickness: 5px;
    }
    .subtitulo {
        display: flex;
        flex-direction: column;
        height: max-content;
    }
    .formulario {
        padding-top: 20px;
        height: 420px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .subtitulo {
        color: $color-primario;
        font-size: 20px;
    }
    form {
        width: 500px;
        margin-bottom: 5px;
    }
    input, textarea {
            margin-bottom: 15px;
            padding: 10px;
            border: 1px solid $color-primario;
            border-radius: 5px;
            background-color: $color-secundario;
            color: $color-primario;
            width: 100%;
    
            &[type="submit"] {
                background-color: $color-secundario;
                color: $color-primario;
                cursor: pointer;
                transition: 0.8s;
    
                &:hover {
                    background-color: $color-primario;
                    color: $color-secundario;
                }
            }
        }
    }


