@import '../general/variables.scss';


#reviews {
    text-align: center;
    padding: 60px 0;

    .titulo {
        height: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h1 {
        color: $color-secundario;
        font-size: $size-title;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-decoration: underline;
        text-decoration-color: $color-primario;
        text-decoration-thickness: 5px;
    }
    .subtitulo {
        display: flex;
        flex-direction: column;
        height: max-content;
    }

    .review {
        border: 1px solid #ccc;
        border-radius: 5px;
        margin: 1rem 0;
        padding: 1rem;
        color: $color-secundario;
        background-color: $color-primario;
    }
}